<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/about.css'>
    <link rel="icon" href="../assets/logo.ico" sizes="16×16">
</head>
<body>
    <div class="main">
       
        <span id="cm"> <a href="/"><img src="assets/public.png" height="100px"></a><p>MNNITCoder</p></span>
        <div>
            <h1>ABOUT US</h1>
            <article id="intro">"We are a bunch of school friends who were tired of sitting and coding alone throughout the pandemic time. We always imagined how cool it would be if we could chat, talk and even share our screen while we are coding and discuss our doubts together, all on a single platform. But why just visualize about it when we can develop something similar ourselves! So we designed this cool website <b>"MNNITCoder"</b> for all the coding geeks like us who like to code together with their friend-circle or maybe with random folks in public rooms!"</article>
        </div>
        <div class="intro">
            <section class="box">
                <img class="pic" src="">
                <article>
                    <h3>Dharmendra</h3>
                    <caption>(Front & Back-end Developer)</caption>
                </article>
                <br>
                <article >
                    <section id="ani">
                        
                        <a href="" target="_blank"><img src="assets/twitter.png" class="twitter" ></a>
                    </section>
                    <section id="ani2">
                        
                        <a href="" target="_blank"><img src="assets/ln.png" class="linkedin"></a>
                    </section>
                </article>
            </section>
           /* <section class="box">
                <img class="pic" src="">
                <article>
                    <h3></h3>
                    <caption></caption>
                </article>
                <br>
                <article>
                    <section id="har">
                        
                        <a href="" class="twitter" target="_blank"><img src="assets/twitter.png" class="twitter"></a>
                    </section>
                    <section id="har2">
                        
                        <a href="" class="linkedin" target="_blank"><img src="assets/ln.png" class="linkedin"></a>
                    </section>
                </article>
            </section>
            <section class="box">
                <img class="pic" src="">
                <article>
                    <h3></h3>
                    <caption></caption>
                </article>
                <br>
                <article>
                    <section id="git">
                        
                        <a href=""  class="twitter" target="_blank"><img src="assets/twitter.png" class="twitter"></a>
                    </section>
                    <section id="git2">
                        
                        <a href="" class="linkedin" target="_blank"><img src="assets/ln.png" class="linkedin"></a>
                    </section>
                </article>
            </section>
            <section class="box">
                <img class="pic" src="">
                <article>
                    <h3></h3>
                    <caption></caption>
                </article>
                <br>
                <article>
                    <section id="ayu">
                        
                        <a href=""  class="twitter" target="_blank"><img src="assets/twitter.png" class="twitter"></a>
                    </section>
                    <section id="ayu2">
                        
                        <a href="" class="linkedin" target="_blank"><img src="assets/ln.png" class="linkedin"></a>
                    </section>
                </article>
            </section>*/
        </div>
    </div>
</body>
</html>
