*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 99.1vw;
    height: 100vh;
}

.interface {
    height: 100%;
    flex-direction: column;
}

.main-heading {
    background-color: #43087E;
    height: 3em;
    align-items: center;
}

.heading {
    width: 15vw;
    margin: auto;
    background-color: white;
    color: black;
    font-size: 1.3em;
    font-weight: 500;
    border-radius: 10px;
}

input {
    width: 70%;
    border-radius: 5px;
}

.icon {
    font-size: 1.3em;
    cursor: pointer;
    margin-left: -15px;
}

.code-space {
    flex-grow: 1;
}

.space-1,.space-2 {
    flex-direction: column;
}

.space-1 {
    border-right: solid 4px #43087E;
}

.prob-desc,.ide-area {
    flex-grow: 1;
    background-color: lightgray;
    padding: 1em;
}

.sub-heading {
    background-color: lightslategray;
    height: 2.8em;
    align-items: center;
    color: white;
}

.questions {
    overflow-y: auto;
    max-height: 72vh;
}

label {
    margin-left: 5px;
}

textarea {
    resize: none !important;
}

.output-area {
    height: 9em;
    background-color: white;
    overflow-y: auto;
}

.editor-area {
    padding: 0.5em;
}

textarea, .output-area {
    border-radius: 4px;
}

.footer {
    color: white;
    font-size: 1.2em;
    background-color: lightslategray;
    height: 2.5em;
    align-items: center;
}

.room-meet-link {
    color: white;
    text-decoration: none;
}

.exit {
    color: white;
    text-decoration: none;
}

